.Input {
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
}

.InputElement:focus {
    outline: none;
    background-color: lightgray;
}

.Invalid {
    border: 1px red solid;
}

.ErrorMessage {
    color: red;
}