.Button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 3px #ccc;
}

.Button:disabled {
    cursor: not-allowed;
    opacity: 0.65;
}

.Button:focus {
    outline: none;
}

.Confirm {
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
}

.Confirm:hover,
.Confirm:active {
    background-color: white;
    color: #4CAF50;
}

.Danger {
    background-color: #f44336;
    border: 2px solid #f44336;
}

.Danger:hover,
.Danger:active {
    background-color: white;
    color: #f44336;
}