.Toolbar {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  background-color: lightblue;
  box-shadow: 0 5px 20px #989898;
  align-content: center;

  nav {
    height: 100%;
  }
}

.DesktopOnly {
  display: none;

  @media (min-width: 40rem) {
    & {
      display: block;
    }
  }
}
