.TextArea {
}

.TextAreaElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    width: 100%;
    padding: 5px;
    display: block;
    box-sizing: border-box;
    border-radius: 5px;
}

.TextAreaElement:focus {
    outline: none;
    background-color: lightgray;
}

.TextAreaElementInvalid {
    border: 1px solid red;
}