.Home {
  background-color: #34adff;
  background-image: -webkit-linear-gradient(150deg, #4cbfff 55%, white 45%);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  top: 0;
  filter: brightness(0.7);
  filter: grayscale(60%);
}
