.ViewChallenge {
    width: 95%;
    margin: auto;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 5px 5px 10px darkgray;
}

.ViewChallenge p {
    font-style: italic;
    margin-left: 10px;
}

.ViewChallenge .Label {
    margin-left: 10px;
}

.ChallengeElements {
    padding: 20px;
}

.ChallengeElement {
    border-left: 1px solid #363636;
    border-bottom: 1px solid #363636;
    box-shadow: 2px 2px 2px darkgray;
    margin-bottom: 10px;
}

.Controls {
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
}

.BottomRight {
    color: #777;
    font: 30px/100% arial, sans-serif;
    position: absolute;
    right: 25px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    bottom: 25px;
    width: 50px;
    height: 50px;
    background: burlywood;
    border-radius: 50%;
    text-align: center;
}

@media(min-width: 40rem) {
    .ViewChallenge {
        width: 65%;
    }
}