.User {
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  width: 30%;
  max-width: 12rem;
  min-width: 6rem;
  margin: 0.5rem;
}