.Challenge {
    text-align: center;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

.Challenge > * {
    margin: 0.5rem auto;
}

@media(min-width: 40rem) {
    .Challenge {
        max-width: 40rem;
    }
}