.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media (min-width: 40rem) {
  .NavigationItems {
    flex-direction: row;
  }
}
