.ViewChallenge {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

.ViewChallenge p {
    font-style: italic;
    margin-left: 0.5rem;
}

.ViewChallenge .Label {
    margin-left: 0.5rem;
}

.ChallengeElements {
    padding: 0.5rem;
}

.ChallengeElement {
    border-left: 1px solid #363636;
    border-bottom: 1px solid #363636;
    box-shadow: 2px 2px 2px darkgray;
    margin-bottom: 0.5rem;
}

.Controls {
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
}